body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3f2fd;
    transition: background 0.5s ease;
}

.container{
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 255, 0.66);
    padding: 1.5rem;
    border-radius: 30px;
    background-color: #ffffff46;
    box-shadow: 0px 4px 12px rgba(96, 96, 248, 0.859);


}

h2{
    font-size: 2rem;
    font-weight: 500;
}

p{
     font-size: 1rem;
     margin-top: 3rem;
     color: rgb(60, 60, 245);
}

button{
    height: 3rem;
    width:6.5rem;
    font-size: 16px;
    background-color: #1976d2;
    color: white;
        border: 2px solid rgba(0, 0, 255, 0.66);

    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0d47a1;
      transform: scale(1.02);
  transition: transform 0.2s ease;
}